@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*::after,
*::before,
* {
  box-sizing: border-box;
}

.searchArea {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}
